<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hdc</display-name>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
    </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>hdc.control</param-value>
    </init-param>
       
    <!--   CROWDINFO SETTINGS 128.97.93.172-->
    <init-param>
        <param-name>ci_host</param-name>
        <param-value>128.97.93.172</param-value>
    </init-param>
     <init-param>
        <param-name>ci_timeout</param-name>
        <param-value>300</param-value>
    </init-param>
    <init-param>
        <param-name>ci_port</param-name>
        <param-value>80</param-value>
    </init-param>
    <init-param>
        <param-name>ci_path</param-name>
        <param-value>/queryall</param-value>
    </init-param>
    <init-param>
        <param-name>ci_queries</param-name>
        <param-value>Subway:query_sub;Restaurant:query_yos;TSquare:query_fus;Bistro:query_bis;Library:query_lib;Gym:query_gym;ABDN_room_left:query_base05;ABDN_room_right:query_base06;ABDN_theatre:query_base01;ABDN_lab:query_base02;</param-value>
    </init-param>
    <!--   END -->
    
    
    
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>