<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="web interface for cispaces">

<title>CISpaces</title>

<!-- Bootstrap Core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/bootstrap/css/bootstrap-slider.min.css"
	rel="stylesheet">
<link href="vendor/css-loader/css-loader.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">CISpaces</a>
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i> User
								Profile</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Help</a></li>
						<li class="divider"></li>
						<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>
								Logout</a></li>
					</ul></li>
			</ul>
		</nav>

		<!--
			************************************* Tool Box *************************************
		-->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0; z-index: 0;" id="nav-toolbox">
			<div class="navbar-header">
				<div class="navbar-brand" style="padding: 9px 9px">
					<!-- <a class="btn btn-default" id="newWorkBox">New</a> -->
					<a class="btn btn-default" id="saveProgress" disabled="true">Save</a>
					<!-- <a class="btn btn-default" id="history">History</a> -->
					<a class="btn btn-default" id="simulation">Relocate</a>

					<!-- buttons for creating a node -->
					<a class="btn btn-info btn-sm" style="margin-left: 20px;" id="info"
						draggable="true">Info</a> <a class="btn btn-claim btn-sm"
						id="claim" draggable="true">Claim</a>
					<!-- <a class="btn btn-warning btn-sm" id="pref" draggable="true">Pref</a> -->
					<a class="btn btn-danger btn-sm" id="con" draggable="true">Con</a>
					<a class="btn btn-success btn-sm" id="pro" draggable="true">Pro</a>

					<!-- buttons for commit/checkout a graph -->
					<a class="btn btn-default" style="margin-left: 20px;"
						id="browseAnalyses">Browse</a> <a class="btn btn-default"
						id="commitGraph">Commit</a> <a class="btn btn-default"
						id="checkoutGraph">Check-out</a>
				</div>
			</div>

			<!--
			<div class="btn-group" data-toggle="buttons" style="padding: 9px 50px 9px">
			  <label class="btn btn-primary active">
				<input type="radio" name="options" id="personal_space"> Personal Workspace
			  </label>
			  <label class="btn btn-primary disabled">
				<input type="radio" name="options" id="shared_space"> Shared Workspace
			  </label>
			</div>
			-->

			<div class="navbar-right" style="padding: 9px 50px 9px">
				<a class="btn btn-default disabled" id="copy_selection">Copy
					Selection</a>
			</div>
		</nav>

		<div id="page-wrapper" style="margin: 0">
			<div class="row" id="row-workbox">
				<div class="col-xs-10 col-md-6">
					<!--
						************************************* Work Box *************************************
					-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-codepen fa-fw"></i> Work Box <span
								id="span-graphTitle"></span><span id="span-viewMode"></span>
						</div>
						<div class="panel-body" id="d3-area-chart">
							<svg>
									<defs>
										<marker id="pref-triangle" viewBox="-0 -5 10 10" refX="25"
									refY="0" markerWidth="5" markerHeight="5" orient="auto"
									xoverflow="visible">
											<path d="M0,-5L10,0L0,5" class="pref-arrow-head"></path>
										</marker>
										<marker id="con-triangle" viewBox="-0 -5 10 10" refX="25"
									refY="0" markerWidth="5" markerHeight="5" orient="auto"
									xoverflow="visible">
											<path d="M0,-5L10,0L0,5" class="con-arrow-head"></path>
										</marker>
										<marker id="pro-triangle" viewBox="-0 -5 10 10" refX="25"
									refY="0" markerWidth="5" markerHeight="5" orient="auto"
									xoverflow="visible">
											<path d="M0,-5L10,0L0,5" class="pro-arrow-head"></path>
										</marker>
									</defs>
								</svg>
						</div>
						<div class="panel-footer">
							<div class="input-group">
								<input id="slider-wb" data-slider-id="slider-workbox"
									type="text" data-slider-min="0" data-slider-max="50"
									data-slider-step="1" data-slider-value="15" style="width: 100%" />
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-4 col-md-3">

					<!--
						************************************* Eval Box *************************************
					-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title" style="font-size: 14px">
								<i class="fa fa-tasks fa-fw"></i> <a data-toggle="collapse"
									href="#div-evalbox">Eval Box</a>
							</h4>
						</div>
						<div id="div-evalbox" class="panel-collapse collapse in">
							<div class="panel-body" id="eval_box">
								<div class="list-group" id="eval_fail" style="display: none;">
									<a href="#" class="list-group-item"> <i
										class="glyphicon glyphicon-warning-sign"></i> <span
										id="eval_fail_msg"></span></a>
								</div>
								<div class="list-group" id="eval_colors"></div>
								<div class="list-group" id="eval_chunks"></div>
								<a href="#" class="btn btn-default btn-sm" style="width: 49%;"
									id="evaluate">Evaluate</a> <a href="#"
									class="btn btn-default btn-sm" style="width: 49%;" id="clear">Clear</a>
								<a href="#" class="btn btn-default btn-sm"
									style="width: 99%; margin-top: 5px;" id="nlg">Generate
									Reports</a>
							</div>
						</div>
					</div>

					<!--
						************************************* Vocabulary Box *************************************
					-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title" style="font-size: 14px">
								<i class="fa fa-inbox fa-fw"></i> <a data-toggle="collapse"
									href="#div-vocabularybox">Vocabulary Box</a>
							</h4>
						</div>
						<div id="div-vocabularybox" class="panel-collapse collapse in">
							<div class="panel-body" id="vocabulary_box">
								<div class="form-group input-group">
									<input type="text" class="form-control"
										placeholder="Enter topics..."> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-plus"></i>
										</button>
									</span>
								</div>
								<div class="form-group topic-form"></div>
							</div>
						</div>
					</div>

					<!--
						************************************* Info Box *************************************
					-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title" style="font-size: 14px">
								<i class="fa fa-inbox fa-fw"></i> <a data-toggle="collapse"
									href="#div-infobox">Info Box</a>
							</h4>
						</div>
						<div id="div-infobox" class="panel-collapse collapse">
							<div class="panel-body" id="info_box">
								<div class="form-group input-group float_left">
									<input type="text" class="form-control"
										placeholder="Enter topics..."> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-plus"></i>
										</button>
									</span>
								</div>
								<div class="form-group float_right">
									<button class="btn btn-default btn-clear">Clear</button>
								</div>
								<div class="form-group topic-form"></div>
								<hr>
								<button class="btn btn-default btn-xs btn-submit">Search</button>
								<button class="btn btn-default btn-xs btn-refresh">Refresh</button>
								<div class="table-responsive fews-form">
									<table class="table">
										<thead>
											<tr>
												<th>Extract</th>
												<th>Twitter URI</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>


					<!-- /.col-lg-4 -->
					<!-- /.row -->
				</div>


				<div class="col-xs-4 col-md-3">
					<!--
						************************************* Details *************************************
					-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title" style="font-size: 14px">
								<i class="fa fa-pencil-square-o fa-fw"></i> <a
									data-toggle="collapse" href="#div-details">Details</a>
							</h4>
						</div>
						<div id="div-details" class="panel-collapse collapse in">
							<div class="panel-body" id="details">
								<div id="details-node" style="display: none;">
									<div class="form-group">
										<label>NodeID</label>
										<p class="form-control-static">
											<span class="details-nodeID"></span>
										</p>
									</div>
									<div class="form-group">
										<label>DTG</label>
										<p class="form-control-static">
											<span class="details-dtg"></span>
										</p>
									</div>
									<div class="form-group">
										<label>Source</label>
										<p class="form-control-static">
											<span class="details-source"></span>
										</p>
									</div>
									<div class="form-group">
										<label>Text</label>
										<p class="form-control-static">
											<span class="details-text"></span>
										</p>
										<!--
											<label>Text <a class="btn btn-outline btn-primary btn-xs" style="margin-left: 10px">Update</a></label>
											<textarea id="details-text" class="form-control" rows="3"><%= text %></textarea>
										-->
									</div>
									<div class="form-group">
										<label>Eval</label>
										<p class="form-control-static">
											<span class="details-eval"></span>
										</p>
									</div>
									<div class="form-group">
										<label>Commit</label>
										<p class="form-control-static">
											<span class="details-commit"></span>
										</p>
									</div>
									<div class="form-group">
										<label>Accuracy</label>
										<p class="form-control-static">
											<span class="details-uncert"></span>
										</p>
									</div>
								</div>
								<div id="details-tweet" style="display: none;">
									<div class="form-group">
										<label>Extract</label>
										<p class="form-control-static"></p>
									</div>
									<div class="form-group">
										<label>Text</label>
										<p class="form-control-static"></p>
									</div>
									<div class="form-group">
										<label>Twitter URI</label>
										<p class="form-control-static"></p>
									</div>
									<div class="form-group">
										<label>Time</label>
										<p class="form-control-static"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-wrapper -->
			<div class="row" id="row-browsebox">
				<div class="col-xs-12 col-md-12">
					<!--
							************************************* Browse Box *************************************
						-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-codepen fa-fw"></i> Browse Box
						</div>
						<div class="panel-body" id="browse_box">
							<div class="col-lg-2 col-md-4">
								<div class="btn btn-primary btn-lg btn-block" id="new_analysis"
									title="Create a new analysis">
									<div class="panel-heading">
										<div class="row text-center">
											<div class="huge">New</div>
										</div>
									</div>
								</div>
								<div class="btn btn-info btn-lg btn-block"
									title="Import an analysis from file">
									<div class="panel-heading">
										<div class="row text-center">
											<div id="importFromFile" class="huge">Import</div>
											<input type="file" id="myFile" style="display: none;" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#wrapper -->

		<!--
			************************************* ContextMenu for deleting a node / linking / prove graph *************************************
		-->
		<ul id="contextMenu" class="dropdown-menu" role="menu"
			style="display: none">
			<li><a class="btn btn-link" tabindex="-1" id="delete-node">Delete</a></li>
			<li class="divider"></li>
			<li><a class="btn btn-link" tabindex="-1" id="link-from">Link
					From</a></li>
			<li><a class="btn btn-link disabled" tabindex="-1" id="link-to">Link
					To</a></li>
			<li><a class="btn btn-link" tabindex="-1" id="cancel-link">Cancel
					Link</a></li>
			<li class="divider"></li>
			<li><a class="btn btn-link" tabindex="-1" id="provgraph">Prov
					Graph</a></li>
			<li class="divider"></li>
			<li><a class="btn btn-link" tabindex="-1">Close</a></li>
		</ul>

		<!--
			************************************* Alert Div for alarming an incorrect action *************************************
		-->
		<div class="alert alert-danger" style="display: none">
			<span></span> <a class="alert-link">Close</a>
		</div>

		<!--
			************************************* Loading Div *************************************
		-->
		<div class="loader loader-default" id="loading-spinner"></div>


		<!--
			************************************* Template for manipulating a modal for each node *************************************
		-->
		<script type="text/template" id="node-template">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><%= nodeID %></h4>
					</div>
					<div class="modal-body">
						<div class="row row-text form-group">
							<div class="col-md-2"><label>Text</label></div>
							<div class="col-md-10"><textarea class="form-control" rows="3"><%= text %></textarea></div>
						</div>
						<div class="row row-link form-group">
							<div class="col-md-2"><label>Link</label></div>
							<div class="col-md-10"><select class="form-control"></select></div>
						</div>
						<div class="row row-critical form-group">
							<div class="col-md-12"><label>Critical Question</label></div>
							<div class="col-md-12 col-select">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-update">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</script>

		<!--
			************************************* Modal for Natural Language Report *************************************
		-->
		<div class="modal fade" id="nlg_result" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<em>Report</em>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-8">
								<em><span id="nlg_result_fail"></span></em>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div id="nlg_result_text"></div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!--
			************************************* Modal for history of an analysis *************************************
		-->
		<div class="modal fade" id="history_result" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<em>History of Analysis</em>
						</h4>
					</div>
					<div class="modal-body">
						<div class="list-group" id="history_list"></div>
						<div id="selectedAnalysis" style="display: none;"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							onclick="app.toolBoxView.importAnalysis()">Import</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!--
			************************************* Modal for showing a provance graph *************************************
		-->
		<div class="modal fade" id="prov_graph" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<em>Provenance Graph</em>
						</h4>
					</div>
					<div class="modal-body">
						<img id="img_prov_graph" src="">
					</div>
				</div>
			</div>
		</div>

		<!--
			************************************* Modal for inputiing a graph title and a description *************************************
		-->
		<div class="modal fade" id="graph_info" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<em><span></span></em>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row form-group">
							<div class="col-md-2">
								<label>Title</label>
							</div>
							<div class="col-md-10">
								<input type="text" class="form-control"
									placeholder="Enter a title" />
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-2">
								<label>Description</label>
							</div>
							<div class="col-md-10">
								<textarea class="form-control" rows="3"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-create">Create</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- loads for backbone.js -->
		<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="vendor/underscore-min.js"></script>
		<script type="text/javascript" src="vendor/backbone-min.js"></script>

		<!-- loads for d3.js -->
		<script type="text/javascript" src="vendor/d3/d3.min.js"></script>

		<!-- loads for bootstrap -->
		<script type="text/javascript"
			src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript"
			src="vendor/bootstrap/js/bootstrap-slider.min.js"></script>

		<!-- loads for json-validation -->
		<script type="text/javascript"
			src="vendor/node_modules/json-validation/lib/json-validation.js"></script>

		<script type="text/javascript" src="js/variables.js"></script>

		<script type="text/javascript" src="js/backbone/models/node.js"></script>
		<script type="text/javascript" src="js/backbone/models/edge.js"></script>
		<script type="text/javascript" src="js/backbone/models/topic.js"></script>
		<script type="text/javascript" src="js/backbone/models/vocabulary.js"></script>
		<script type="text/javascript" src="js/backbone/collections/nodes.js"></script>
		<script type="text/javascript" src="js/backbone/collections/edges.js"></script>
		<script type="text/javascript" src="js/backbone/collections/topics.js"></script>
		<script type="text/javascript"
			src="js/backbone/collections/vocabularies.js"></script>

		<script type="text/javascript" src="js/backbone/views/nodes.js"></script>
		<script type="text/javascript" src="js/backbone/views/toolBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/infoBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/workBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/browseBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/evalBox.js"></script>
		<!-- <script type="text/javascript"
			src="js/backbone/views/vocabularyBox.js"></script>
		-->
		<!--
		<script type="text/javascript" src="js/backbone/views/reqBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/prefBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/moiraBox.js"></script>
		<script type="text/javascript" src="js/backbone/views/chatBox.js"></script>
	-->
		<script type="text/javascript" src="js/backbone/app.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/draws.js"></script>

		<script type="text/javascript" src="js/latestAnalysis.js"></script>
</body>

</html>
