# IntelliJ Project files
**/.idea
**/*.iml

# Netbeans project files
**/nbproject
**/nb-configuration.xml

# Eclipse project files
**/.settings

# Compiled output
**/*.class
**/*.war
**/WebContent/WEB-INF/classes
**/WebContent/WEB-INF/lib
**/target

# Other internal files
.DS_STORE
cispaces-web-services-integration.iml
.profile

# Out folder
out/*

# CISpaces tools
cispaces/*
tools/*

# Python venv
**/env/


