# IntelliJ Project files
**/.idea
**/*.iml

# Netbeans project files
**/nbproject
**/nb-configuration.xml

# Eclipse project files
**/.settings

# Compiled output
**/*.class
**/*.war
**/WebContent/WEB-INF/classes
**/WebContent/WEB-INF/lib
**/target

# Other internal files
.DS_STORE
cispaces-web-services-integration.iml
.profile

# Out folder
out/*

# CISpaces tools
cispaces/*
tools/*

# Python venv
**/env/

# Fact extraction
fact-extraction/
.project
ers/.classpath
ers/.project
FEWS/.classpath
FEWS/.project
info/.classpath
info/.project
nlg/.classpath
nlg/.project
PROVSIMP/.classpath
PROVSIMP/.project
ROOT/.project
ROOT/${env.CATALINA_HOME}/webapps/ROOT.tar.bz2
ROOT/${env.CATALINA_HOME}/webapps/ROOT/cisp.png
ROOT/${env.CATALINA_HOME}/webapps/ROOT/CISpaces.schema.json
ROOT/${env.CATALINA_HOME}/webapps/ROOT/cqs.json
ROOT/${env.CATALINA_HOME}/webapps/ROOT/favicon.ico
ROOT/${env.CATALINA_HOME}/webapps/ROOT/index.html
ROOT/${env.CATALINA_HOME}/webapps/ROOT/login.html
ROOT/${env.CATALINA_HOME}/webapps/ROOT/schema.json
ROOT/${env.CATALINA_HOME}/webapps/ROOT/css/style.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/dist/css/sb-admin-2.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/dist/css/sb-admin-2.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/dist/js/sb-admin-2.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/dist/js/sb-admin-2.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/common.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/constants.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/draws.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/latestAnalysis.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/login.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/variables.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/app.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/collections/edges.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/collections/nodes.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/collections/topics.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/collections/vocabularies.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/models/edge.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/models/node.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/models/topic.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/models/vocabulary.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/browseBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/chatBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/evalBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/infoBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/moiraBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/nodes.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/prefBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/reqBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/toolBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/vocabularyBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/js/backbone/views/workBox.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/backbone-min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/underscore-min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap-social/bootstrap-social.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap-social/bootstrap-social.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap-social/bootstrap-social.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/css/bootstrap-slider.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/css/bootstrap.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/css/bootstrap.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff2
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/js/bootstrap-slider.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/js/bootstrap.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/bootstrap/js/bootstrap.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/css-loader.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-ball.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-bar-ping-pong.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-bar.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-border.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-clock.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-curtain.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-default.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-double.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-music.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-pokeball.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/css-loader/loader-smartphone.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/d3/d3.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/d3/d3.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-plugins/dataTables.bootstrap.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-plugins/dataTables.bootstrap.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-plugins/dataTables.bootstrap.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-plugins/index.html
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-responsive/dataTables.responsive.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-responsive/dataTables.responsive.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables-responsive/dataTables.responsive.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.bootstrap.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.bootstrap.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.bootstrap4.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.bootstrap4.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.foundation.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.foundation.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.jqueryui.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.jqueryui.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.material.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.material.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.semanticui.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.semanticui.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.uikit.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/dataTables.uikit.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/jquery.dataTables.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/jquery.dataTables.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/css/jquery.dataTables_themeroller.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/favicon.ico
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/sort_asc.png
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/sort_asc_disabled.png
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/sort_both.png
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/sort_desc.png
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/sort_desc_disabled.png
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/images/Sorting icons.psd
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.bootstrap.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.bootstrap.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.bootstrap4.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.bootstrap4.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.foundation.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.foundation.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.jqueryui.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.jqueryui.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.material.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.material.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.semanticui.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.semanticui.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.uikit.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/dataTables.uikit.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/jquery.dataTables.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/jquery.dataTables.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/datatables/js/jquery.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/excanvas.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/excanvas.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.colorhelpers.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.canvas.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.categories.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.crosshair.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.errorbars.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.fillbetween.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.image.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.navigate.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.pie.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.resize.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.selection.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.stack.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.symbol.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.threshold.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.flot.time.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot/jquery.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot-tooltip/jquery.flot.tooltip.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot-tooltip/jquery.flot.tooltip.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/flot-tooltip/jquery.flot.tooltip.source.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/HELP-US-OUT.txt
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/css/font-awesome.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/css/font-awesome.css.map
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/css/font-awesome.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/fonts/fontawesome-webfont.eot
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/fonts/fontawesome-webfont.svg
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/fonts/fontawesome-webfont.ttf
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/fonts/fontawesome-webfont.woff
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/fonts/fontawesome-webfont.woff2
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/fonts/FontAwesome.otf
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/animated.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/bordered-pulled.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/core.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/extras.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/fixed-width.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/font-awesome.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/icons.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/larger.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/list.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/mixins.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/path.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/rotated-flipped.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/screen-reader.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/spinning.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/stacked.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/less/variables.less
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_animated.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_bordered-pulled.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_core.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_extras.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_fixed-width.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_icons.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_larger.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_list.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_mixins.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_path.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_rotated-flipped.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_screen-reader.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_spinning.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_stacked.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/_variables.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/font-awesome/scss/font-awesome.scss
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/jquery/jquery-3.2.1.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/jquery/jquery.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/jquery/jquery.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/metisMenu/metisMenu.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/metisMenu/metisMenu.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/metisMenu/metisMenu.min.css
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/metisMenu/metisMenu.min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/.npmignore
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/package.json
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/README.md
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/lib/json-validation.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/test/all.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/test/browser.html
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/json-validation/test/mocha.opts
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/.npmignore
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/CNAME
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/favicon.ico
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/index.html
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/index.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/LICENSE
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/package.json
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/README.md
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/underscore-min.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/underscore.js
ROOT/${env.CATALINA_HOME}/webapps/ROOT/vendor/node_modules/underscore/raw/underscore.psd
ROOT/${env.CATALINA_HOME}/webapps/ROOT/WEB-INF/web.xml
VC/.classpath
VC/.project
