@CHARSET "UTF-8";

/**
	styles for nodes
*/
.info-node {
	fill: #5bc0de;
	/* fill: #31c292; */
}

.claim-node {
	fill: #d9534f;
	/* fill: #bf29d9; */
}

.pref-node {
	fill: #f0ad4e;
	/* fill: #f54ce9; */
}

.con-node {
	fill: #337ab7;
	/* fill: #ff0000; */
}

.pro-node {
	fill: #5cb85c;
	/* fill: #67c600; */
}

.node-highlight {
	stroke-width: 3px;
	stroke: rgb(0, 0, 0);
}

.node-eval {
	stroke-width: 3px;
}

/**
	styles for edges
*/
.edge {
	stroke-width: 1.5px;
}

.pref-edge {
	stroke: #d58512;
	/* stroke: #f54ce9; */
}

.con-edge {
	stroke: #204d74;
	/* stroke: #ff0000; */
	stroke-dasharray: 5, 5;
}

.pro-edge {
	stroke: #398439;
	/* stroke: #67c600; */
	stroke-dasharray: 8, 2;
}

.pref-arrow-head {
	stroke: #d58512;
	fill-opacity: 0;
}

.con-arrow-head {
	stroke: #204d74;
	fill-opacity: 0;
}

.pro-arrow-head {
	stroke: #398439;
	fill-opacity: 0;
}

/**
	styles for eval box
*/
.evalbox-text {
	color: #555;
    margin: 5px;
    font-weight: normal;
}
.evalbox-square {
	width: 13px;
    height: 13px;
    display: inline-block;
}

.success {
	fill: #31a354;
	stroke: #31a354;
}

.fail {
	fill: #f03b20;
	stroke: #f03b20;
}

.question {
	fill: #feb24c;
	stroke: #feb24c;
}