@CHARSET "UTF-8";
/**
	styles for login.html
*/

/**
    Login Text styles: aggiornati o aggiunti
 */

.input_text, .input_passwd {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 3px solid #2984c3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input_text:focus, .input_passwd:focus{
  border-bottom: 3px solid #29c3b6;
}

.input_text:hover, .input_passwd:hover{
  border-bottom: 3px solid #29c3b6;
}

.btn_login {
  background-color: #2984c3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
  -moz-border-radius: 20px; /* firefox */
  -webkit-border-radius: 20px; /* safari, chrome */
}
.btn_login:hover{
  background-color: #29c3b6;
}
.myText{
  font: 16px Helvetica Neue,Helvetica,Arial,sans-serif;
}

.external_links{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.external_links:hover{
  color: #2984c3; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.btn_login:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 0 0 12px 0;
}

img.avatar {
  width: 17%;
}

.container {
  padding: 10px;
  width: 60%;
  margin: auto;
  display: block;
}

/**
	styles for common
*/

.panel.panel-default {
  margin: 15px 0 5px;
}

/**
	styles for vocabularyBox
*/

#vocabulary_box .topic-form {
  overflow-y: auto;
  height: 85%;
  width: 100%;
}

.form-group label span {
  font-weight: 400;
}

/**
	styles for infoBox
*/

hr {
  height: 1px;
  background-color: #aaa;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

.alert-infobox {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#info_box .topic-form, #info_box .fews-form {
  overflow-y: auto;
  height: 45%;
  width: 100%;
}

.topic-form label, .topic-form button {
  margin-left: 10px
}

.float_left {
  float: left;
  width: 80%;
}

.float_right {
  float: right;
  width: 20%;
}

.fews-form table {
  table-layout: fixed;
}

.fews-form table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#div-details div p {
  word-wrap: break-word;
}

/**
    DIV INSIDE OF THE RECT
 */

.myDiv-node {
  color: black;
  font: 14px Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100%;
  overflow: auto;
}

/*
    No custom button view, checkout, delete and export
 */
.btn-info-nocustom{color:#5bc0de;border-color:#46b8da}.btn-info-nocustom.focus,.btn-info-nocustom:focus{color:#fff;background-color:#31b0d5;border-color:#1b6d85}.btn-info-nocustom:hover{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info-nocustom.active,.btn-info-nocustom:active,.open>.dropdown-toggle.btn-info-nocustom{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn-info-nocustom.active.focus,.btn-info-nocustom.active:focus,.btn-info-nocustom.active:hover,.btn-info-nocustom:active.focus,.btn-info-nocustom:active:focus,.btn-info-nocustom:active:hover,.open>.dropdown-toggle.btn-info-nocustom.focus,.open>.dropdown-toggle.btn-info-nocustom:focus,.open>.dropdown-toggle.btn-info-nocustom:hover{color:#fff;background-color:#269abc;border-color:#1b6d85}.btn-info-nocustom.active,.btn-info-nocustom:active,.open>.dropdown-toggle.btn-info-nocustom{background-image:none}.btn-info-nocustom.disabled.focus,.btn-info-nocustom.disabled:focus,.btn-info-nocustom.disabled:hover,.btn-info-nocustom[disabled].focus,.btn-info-nocustom[disabled]:focus,.btn-info-nocustom[disabled]:hover,fieldset[disabled] .btn-info-nocustom.focus,fieldset[disabled] .btn-info-nocustom:focus,fieldset[disabled] .btn-info-nocustom:hover{background-color:#5bc0de;border-color:#46b8da}.btn-info-nocustom .badge{color:#5bc0de;background-color:#fff}
.btn-danger-nocustom{color:#d9534f;border-color:#d43f3a}.btn-danger-nocustom.focus,.btn-danger-nocustom:focus{color:#fff;background-color:#c9302c;border-color:#761c19}.btn-danger-nocustom:hover{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger-nocustom.active,.btn-danger-nocustom:active,.open>.dropdown-toggle.btn-danger-nocustom{color:#fff;background-color:#c9302c;border-color:#ac2925}.btn-danger-nocustom.active.focus,.btn-danger-nocustom.active:focus,.btn-danger-nocustom.active:hover,.btn-danger-nocustom:active.focus,.btn-danger-nocustom:active:focus,.btn-danger-nocustom:active:hover,.open>.dropdown-toggle.btn-danger-nocustom.focus,.open>.dropdown-toggle.btn-danger-nocustom:focus,.open>.dropdown-toggle.btn-danger-nocustom:hover{color:#fff;background-color:#ac2925;border-color:#761c19}.btn-danger-nocustom.active,.btn-danger-nocustom:active,.open>.dropdown-toggle.btn-danger-nocustom{background-image:none}.btn-danger-nocustom.disabled.focus,.btn-danger-nocustom.disabled:focus,.btn-danger-nocustom.disabled:hover,.btn-danger-nocustom[disabled].focus,.btn-danger-nocustom[disabled]:focus,.btn-danger-nocustom[disabled]:hover,fieldset[disabled] .btn-danger-nocustom.focus,fieldset[disabled] .btn-danger-nocustom:focus,fieldset[disabled] .btn-danger-nocustom:hover{background-color:#d9534f;border-color:#d43f3a}.btn-danger-nocustom .badge{color:#d9534f;background-color:#fff}
.btn-success-nocustom{color:#5cb85c;border-color:#4cae4c}.btn-success-nocustom.focus,.btn-success-nocustom:focus{color:#fff;background-color:#449d44;border-color:#255625}.btn-success-nocustom:hover{color:#fff;background-color:#449d44;border-color:#398439}.btn-success-nocustom.active,.btn-success-nocustom:active,.open>.dropdown-toggle.btn-success-nocustom{color:#fff;background-color:#449d44;border-color:#398439}.btn-success-nocustom.active.focus,.btn-success-nocustom.active:focus,.btn-success-nocustom.active:hover,.btn-success-nocustom:active.focus,.btn-success-nocustom:active:focus,.btn-success-nocustom:active:hover,.open>.dropdown-toggle.btn-success-nocustom.focus,.open>.dropdown-toggle.btn-success-nocustom:focus,.open>.dropdown-toggle.btn-success-nocustom:hover{color:#fff;background-color:#398439;border-color:#255625}.btn-success-nocustom.active,.btn-success-nocustom:active,.open>.dropdown-toggle.btn-success-nocustom{background-image:none}.btn-success-nocustom.disabled.focus,.btn-success-nocustom.disabled:focus,.btn-success-nocustom.disabled:hover,.btn-success-nocustom[disabled].focus,.btn-success-nocustom[disabled]:focus,.btn-success-nocustom[disabled]:hover,fieldset[disabled] .btn-success-nocustom.focus,fieldset[disabled] .btn-success-nocustom:focus,fieldset[disabled] .btn-success-nocustom:hover{background-color:#5cb85c;border-color:#4cae4c}.btn-success-nocustom .badge{color:#5cb85c;background-color:#fff}

/**
	styles for nodes
*/

.btn-claim {
  border-color: #a85ae8;
  background-color: #b366ff;
  color: #fff;
}

.btn-claim:hover {
  color: #fff;
  border-color: #924dcc;
  background-color: #a25ee5;
}

.info-node {
  stroke: #5bc0de;
  stroke-width:0.5%;
  fill:#5bc0de;
  fill-opacity:0.4;
}

.claim-node {
  stroke: #b366ff;
  stroke-width:0.5%;
  fill:#b366ff;
  fill-opacity:0.4;
}

.pref-node {
  stroke: #f0ad4e;
  stroke-width:0.5%;
  fill:#f0ad4e;
  fill-opacity:0.4;
}

.con-node {
  stroke: #d9534f;
  stroke-width:0.5%;
  fill:#d9534f;
  fill-opacity:0.4;
}

.pro-node {
  stroke: #5cb85c;
  stroke-width:0.5%;
  fill:#5cb85c;
  fill-opacity:0.4;
}

.node-highlight {
  stroke-width: 3px;
  stroke: rgb(0, 0, 0);
}

.node-eval {
  stroke-width: 3px;
}

/**
	styles for edges
*/

.edge {
  stroke-width: 1.5px;
}

.pref-edge {
  stroke: #d58512;
}

.con-edge {
  stroke: #204d74;
  stroke-dasharray: 5, 5;
}

.pro-edge {
  stroke: #398439;
  stroke-dasharray: 8, 2;
}

.pref-arrow-head {
  stroke: #d58512;
  fill-opacity: 0;
}

.con-arrow-head {
  stroke: #204d74;
  fill-opacity: 0;
}

.pro-arrow-head {
  stroke: #398439;
  fill-opacity: 0;
}

/**
  styles for slider
*/

#row-workbox .panel .panel-footer .input-group {
  width: 99%;
  margin: 15px 10px 15px 0;
}

#slider-workbox .slider-track .slider-selection {
  background: #bcbcbc;
}

#slider-workbox .slider-track .slider-track-high {
  background: #cdcdcd;
}


/**
	styles for evalBox
*/

.evalbox-text {
  color: #555;
  margin: 5px;
  font-weight: normal;
}

.evalbox-square {
  width: 13px;
  height: 13px;
  display: inline-block;
}

/**
  Versione precedente
  .success {
    fill: #31a354;
    stroke: #31a354;
  }

  Sono stati cambiati i tipi di stile, in quanto precedentemente erano applicati agli elementi text
  Adesso, poichè i text sono racchiusi all'interno di un foreignObject e a un div, è necessario cambiare i tipi di
  stile che vengono applicati
  Scritte in verde, rosso, e giallo, in stile grassetto con bordatura nera
*/
.success {
  color: #31a354;
  font-weight: bold;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.fail {
  color: #f03b20;
  font-weight: bold;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.question {
  color: #feb24c;
  font-weight: bold;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
