@CHARSET "UTF-8";

/**
	styles for login.html
*/
.input_text, .input_passwd {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.btn_login {
  background-color: #2984c3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
	float: right;
}

.btn_login:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 25%;
}

.container {
	padding: 10px;
	width: 60%;
	margin: auto;
	display: block;
}

/**
	styles for infoBox
*/
hr {
	height: 1px;
	background-color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%
}

.alert-infobox {
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/**
	styles for nodes
*/
.info-node {
	fill: #5bc0de;
}

.claim-node {
	fill: #b366ff;
}

.pref-node {
	fill: #f0ad4e;
}

.con-node {
	fill: #d9534f;
}

.pro-node {
	fill: #5cb85c;
}

.node-highlight {
	stroke-width: 3px;
	stroke: rgb(0, 0, 0);
}

.node-eval {
	stroke-width: 3px;
}

/**
	styles for edges
*/
.edge {
	stroke-width: 1.5px;
}

.pref-edge {
	stroke: #d58512;
}

.con-edge {
	stroke: #204d74;
	stroke-dasharray: 5, 5;
}

.pro-edge {
	stroke: #398439;
	stroke-dasharray: 8, 2;
}

.pref-arrow-head {
	stroke: #d58512;
	fill-opacity: 0;
}

.con-arrow-head {
	stroke: #204d74;
	fill-opacity: 0;
}

.pro-arrow-head {
	stroke: #398439;
	fill-opacity: 0;
}

/**
	styles for evalBox
*/
.evalbox-text {
	color: #555;
    margin: 5px;
    font-weight: normal;
}
.evalbox-square {
	width: 13px;
    height: 13px;
    display: inline-block;
}

.success {
	fill: #31a354;
	stroke: #31a354;
}

.fail {
	fill: #f03b20;
	stroke: #f03b20;
}

.question {
	fill: #feb24c;
	stroke: #feb24c;
}
